services:

  # Starts the P/S emulator
  pubsub:
    image: gcr.io/google.com/cloudsdktool/cloud-sdk:316.0.0-emulators
    ports:
      - "8085:8085"
    entrypoint: gcloud beta emulators pubsub start --project test-project --host-port 0.0.0.0:8085
    healthcheck:
      test: ["CMD", "curl", "-f", "http://pubsub:8085"]
      interval: 5s
      timeout: 10s
      retries: 3

  # Creates a topic
  mk-topic:
    image: alpine/httpie
    depends_on:
      pubsub:
        condition: service_healthy
    command: PUT http://pubsub:8085/v1/projects/test-project/topics/scan-topic

  # Creates a subscription
  mk-subscription:
    image: alpine/httpie
    depends_on:
      mk-topic:
        condition: service_completed_successfully
    command: PUT http://pubsub:8085/v1/projects/test-project/subscriptions/scan-sub topic=projects/test-project/topics/scan-topic --ignore-stdin 

  # Creates a sqlite database
  sqlite3:
    image: nouchka/sqlite3:latest
    stdin_open: true # Allows interasction via keyboard input
    tty: true        # Allocates a pseudo-TTY
    volumes:
      - ./db/:/root/db/ # Persist the db file in a local 'db' folder
    entrypoint: ["/bin/sh"]
    command: ["-c", "sleep 5 && sqlite3 /root/db/scans.db < /root/db/database.sql && tail -f /dev/null"]

  # Runs the subscriber
  subscriber:
    depends_on:
      mk-topic:
        condition: service_completed_successfully
      mk-subscription:
        condition: service_completed_successfully
      sqlite3:
        condition: service_started
    environment:
      PUBSUB_EMULATOR_HOST: pubsub:8085
      PUBSUB_PROJECT_ID: test-project
      SQLITE_DB_PATH: /root/db/scans.db
    volumes:
      - ./db/:/root/db/
    build:
      context: .
      dockerfile: ./cmd/subscriber/Dockerfile

  # Runs the "scanner"
  scanner:
    depends_on:
      mk-topic:
        condition: service_completed_successfully
    environment:
      PUBSUB_EMULATOR_HOST: pubsub:8085
      PUBSUB_PROJECT_ID: test-project
    build:
      context: .
      dockerfile: ./cmd/scanner/Dockerfile
